# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment Variables
.env

# AWS Credentials
.aws/

# VS Code
.vscode/

# OS Files
.DS_Store

# Data
data/raw/*
data/archive/*

# Keep the folders in Git
!data/raw/.gitkeep
!data/archive/.gitkeep

# Logs
logs/
*.log

# AWS Installer
aws/
awscliv2.zip

# MinIO
minio-data/.env
